<div id="aboutUs" class="container">
    <div class="details-container">
        <div class="avatar">
            <img src="https://static1.terrafemina.com/articles/7/11/16/17/@/105827-navidys-une-application-pour-simplifier-la-lecture-sur-internet-aux-dyslexiques-622x0-1.jpg" class="img-fluid" alt="">
        </div>
        <div class="about">
            <div class="name">
                
                <h3 style="color:rgb(143, 30, 30);">
                     ArtiNeovee
                </h3>
                <h6><I>Economise your time</I></h6>
            </div>
            
            <div class="about-content">
                <p style="color: rgb(3, 2, 7);">Our application is made for you dear client ,You are able here to write your own articles,
                    not only but also you can read others article and enjoy your time.
                    “A reader lives a thousand lives before he dies . . . The man who never reads lives only one.”
                    
                    <I>You are Welcome</I> <br> 
                    
                </p>
                

            </div>

        </div>
        
    <div class="clear"></div>
    </div>
    <div class="skills-container">
        
    </div>
