<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <I style="color: rgb(101, 101, 89);">Login</I>
    </div>

    <!-- Login Form -->
    <form [formGroup]="form" (submit)="submit()">
      <input type="text" formControlName="email" id="login" class="fadeIn second" name="login" placeholder="login"  >
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password" >
      <input type="submit" class="fadeIn fourth" value="Log In">

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/register">Create Account </a>
    </div>

  




